button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
}

h1 {
    color: white;
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: 1.8rem;

    @media screen and (min-width: 1600px){
        font-size: 2rem;
    }

    @media screen and (min-width: 2000px){
        font-size: 2.5rem;
    }
}

.dropPanel {
    width: 100%;
    margin-bottom: 20px;
}

.dropPanel-Block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 900px;
    color: #F6F6F6;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;

    @media screen and (min-width: 1600px){
        max-width: 1500px;
        padding: 15px 20px;
    }

    @media screen and (min-width: 2000px){
        padding: 25px 20px;
    }
}

.Vector {
    height: 30px;
    width: 30px;
    rotate: 180deg;
    cursor: pointer;
}

.title {
    position: absolute;
}

.text {
    height: max-content;
    background-color: #F6F6F6;
    color: #FF6060;
    font-size: 1.3rem;
    padding: 0px 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    top: -28px;
    max-width: 900px;
    margin: 0 auto;
    z-index: 1;

    @media screen and (min-width: 1600px){
        max-width: 1500px;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 2000px){
        max-width: 1500px;
        font-size: 1.8rem;
    }
}