.container {
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    img {
        height: 50px;
        width: 180px;
    }
  }
  
