.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: 415px;
    border-radius: 25px;

    @media screen and (max-width: 600px) {
        height: 250px;
    }

    @media screen and(min-width: 1600px) {
        height: 500px;
    }
}

.carouselImage {
    height: 100%;
    width: 100%;

    @media screen and (max-width: 600px) {
        width: 150%;
        height: 150%;
    }
}

.nextVector {
    height: 415px;
    position: absolute;
    rotate: -90deg;
    cursor: pointer;
    top: 0;
    right: 3%;
    padding: 0 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
        height: 250px;
    }

    @media screen and(min-width: 1600px){
        height: 500px;
    }

    img {
        height: 100px;
        width: 100px;
        opacity: 0.6;
        filter: drop-shadow(-5px 0px 3px #FF6060);

        @media screen and (max-width: 600px) {
            width: 30px;
            height: 30px;
        }

        &:hover {
            transform: scale(1.2);
            opacity: 1;
            filter: drop-shadow(-15px 0px 8px #FF6060);
        }
    }
}

.prevVector {
    height: 415px;
    position: absolute;
    rotate: 90deg;
    cursor: pointer;
    top: 0;
    left: 3%;
    padding: 0 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
        height: 250px;
    }

    @media screen and(min-width: 1600px){
        height: 500px;
    }

    img {
        height: 100px;
        width: 100px;
        opacity: 0.8;
        filter: drop-shadow(5px 0px 3px #FF6060);

        @media screen and (max-width: 600px) {
            width: 30px;
            height: 30px;
        }

        &:hover {
            transform: scale(1.2);
            opacity: 1;
            filter: drop-shadow(15px 0px 8px #FF6060);
        }
    }
}

.carouselNumber {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 2%;
}