.carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    width: 80%;
    margin: 0 10%;

    @media screen and(min-width: 1600px){
        width: 90%;
        margin: 0 5%;
    }

    img {
        border-radius: 25px;
    }
}

.nextVector {
    position: absolute;
    top: 50%;
    right: 0;
    rotate: -90deg;
    padding: 0;
    cursor: pointer;

    @media screen and(min-width: 1600px){
        right: 15%;
    }

    @media screen and(min-width: 2000px){
        right: 25%;
    }
}

.prevVector {
    position: absolute;
    top: 50%;
    left: 0;
    rotate: 90deg;
    padding: 0;
    cursor: pointer;

    @media screen and(min-width: 1600px){
        left: 15%;
    }

    @media screen and(min-width: 2000px){
        left: 25%;
    }
}

.carouselNumber {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 2%;
}