ul {
    display: flex;
    justify-content:flex-end;
    color: #ff0000;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

nav li {
    margin: 10px;
    font-size: 0.8rem;
    font-size: 25px;
}

.link {
   text-decoration: none;
    color:#FF6060;
    font-weight: 500;
   
}

.activated {
    text-decoration: underline;
    color:#FF6060;
}

a{
    text-decoration: none;
}